.header {
    position: fixed;
    width: 25%;
    height: 100vh;
    overflow-y: hidden;
    background: #294069;
    background: linear-gradient(to bottom, #294069 2%,#294069 30%,#294069 60%,#3e4c66 100%);
}
.header:hover{ 
    overflow-y: auto;
}
@media (max-width: 800px) {
    .header{
        width: 30%;
    }
}
@media (max-width: 640px) {
    .header{
        width: 100%;
        height: auto;
        max-height: 100vh;
        position: relative;
    }
}
.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
.header__logo a {
    display: block;
    text-decoration: none;
    color: #fefefe;
}
.header__logo img {
    margin: 0 auto;
}
.header__button {
    display: none;
    width: 40px;
    height: 30px;
    border-top: 4px solid #ffffff;
    right: 15px;
    transition: border-color .1s ease-in-out;
}
.header__button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-100%) rotate(0);
    width: 100%;
    height: 4px;
    background-color: #fff;
    transform-origin: top;
    transition: transform .1s ease-in-out;
}
.header__button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transform: rotate(0deg);
    transition: transform .1s ease-in-out;transform-origin: left;
}
.header__button[aria-expanded=true] {
    border-color: transparent;
}
.header__button[aria-expanded=true]:before {
    transform: translate(-4px,-100%) rotate(45deg);
}
.header__button[aria-expanded=true]:after {
    transform: rotate(-45deg);
}
/*
.header__button .button__bar {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: relative;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}
.header__button .button__bar:before,
.header__button .button__bar:after {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    transition: transform 1s ease-in-out;
}
.header__button .button__bar:before {
    top: -11px;
}
.header__button .button__bar:after {
    bottom: -11px;
}
.header__button[aria-expanded=true] .button__bar {
    background-color: transparent;
}
.header__button[aria-expanded=true] .button__bar:before {
    transform-origin: left;
    transform: rotate(45deg);
}
.header__button[aria-expanded=true] .button__bar:after {
    transform-origin: left;
    transform: rotate(-45deg) translate(-4px, 100%);
}
*/
@media (max-width: 640px) {
    .header__top{
        justify-content: space-between;
        padding: 0 15px;
        position: relative;
    }
    .header__button {
        display: block;
    }
    .header__bottom {
        display: none;
    }
    .header__bottom_open {
        display: block;
    }
}
.menu__lists {
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(255,255,255,.5);
}
.menu__lists li {
    border-top: 1px solid rgba(255,255,255,.5);
    position: relative;
}
.menu__lists li:last-of-type{
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.menu__lists a {
    color: inherit;
    text-decoration: none;
    padding: 15px 65px 15px 25px;
    display: block;
    word-wrap: break-word;
    transition: color .1s ease-in;
}
.menu__lists a:hover,
.menu__lists a:focus {
    outline: 0;
    color: rgba(255,255,255, 1);
}
.menu__lists a.active {
    color: rgba(255,255,255, 1);
}
.menu__lists button {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    opacity: .5;
    transition: opacity .1s ease-in, background-color .1s ease-in, border-color .1s ease-in;
}
.menu__lists button:hover,
.menu__lists button:focus {
    opacity: 1;
    background-color: rgba(0, 0, 0,.1);
    border-color: rgba(0, 0, 0,.2);
}